<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.myandroidfourcomponents">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.launch.LaunchActivity" />
		<activity
			android:name=".activity.launch.BActivity"
			android:launchMode="singleTop" />
		<activity
			android:name=".activity.launch.CActivity"
			android:launchMode="singleTask" />
		<activity
			android:name=".activity.launch.DActivity"
			android:launchMode="singleInstance" />
		<activity android:name=".activity.launch2.LaunchActivity2" />
		<activity android:name=".activity.launch2.BActivity2" />
		<activity android:name=".activity.launch2.CActivity2" />
		<activity android:name=".activity.launch2.DActivity2" />

		<service android:name="com.example.myandroidfourcomponents.sevice.MainService" />
		<service android:name="com.example.myandroidfourcomponents.sevice.ForegroundService" />
		<service
			android:name="com.example.myandroidfourcomponents.job.MyFirstJobService"
			android:exported="true"
			android:permission="android.permission.BIND_JOB_SERVICE" />
	</application>
</manifest>